.wrap_places {
    display: flex;
    flex-wrap: wrap;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

.places article {
    justify-content: center;
    align-items: center;
    width: 390px;
    padding: 20px;
    margin: 20px auto;
    border:#FF5A5F 1px solid;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.top_one {
    display: flex;
}

.places article h2 {
    font-size: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.price_by_night {
    display: flex;
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

article .top_two {
    display: flex;
}

.places .information {
    display: flex;
    height: 80px;
    width: 100%;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    margin: 10px auto;
    align-items: center;
}

.information .sub {
    margin: auto;
}

.information .icon {
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.icon1 {
    background-image:url('../images/icon_group.png');
}

.icon2 {
    background-image:url('../images/icon_bed.png');
}

.icon3 {
    background-image:url('../images/icon_bath.png');
}
.max-guest {
    width: 100px;
    display: inline;
}

.top_three .user {
    margin: 10px auto;
}

/* -------------------------------- */
.top_four {
    display:flex;
}

.top_four .amenities, .reviews {
    margin-top: 40px;
}

.top_four .amenities div {
	border-bottom: 1px solid #ddd;
    text-align: left;
}

.top_four .amenities div h2 {
    font-size: 16px;
}

.top_four .amenities ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150%;
}

.tv, .wifi, .pet {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20%;
    line-height: 40px;
    padding-left: 45px;
}

.top_four .amenities .tv {
    background-image: url('../images/icon_tv.png');
}

.top_four .amenities .wifi {
    background-image: url('../images/icon_wifi.png');
}

.top_four .amenities .pet {
    background-image: url('../images/icon_pets.png');
}
 /* --------- */
.top_five .reviews div {
	border-bottom: 1px solid #ddd;
}

.top_five  .reviews div h2 {
    font-size: 16px;
}

.top_five .reviews ul {
    list-style: none;
    padding-left: 0;
}

.top_five .reviews ul li {
    padding-bottom: 5px;
}

.top_five .reviews ul h3 {
    font-size: 14px;
}

.top_five  .reviews ul p {
    font-size: 12px;
}