header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background: #fff url("../images/logo&text.png") 20px no-repeat;
}

header .logo {
    height: 60px;
    width: 142px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    align-self: center;
}